/* * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.marginPadding(@padding, @margin) {
	padding: @padding,;
	margin: @margin;
}

.size(@width, @height) {
	width: @width;
	height: @height;
}

nav {
	display: flex;
	background: #1DD300;
	font-size: 1.2vw;
	text-align: center;
	position: relative;
}

nav div {
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
}

nav div:not(:last-child) {
	border-right: 1px solid #033333;
	vertical-align: middle;
}

.active {
	box-shadow: inset 0 -8px 8px 0 yellow;
}

body {
	.size(auto, 100%);
	display: flex;
	justify-content: center;
	font-size: 2vw;
	color: white;
	background: #033333;
}

#container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.standartContainer {
	width: 24vw;
}

.extendedContainer {
	width: 34vw;
}

.calculator {
	display: none;
}

.standart,
.extended {
	height: 35vw;
	margin-top: auto;
	margin-bottom: auto;
	flex-direction: column;
	width: 100%;
	background: black;
}

.activeCalc {
	display: flex;
}

form {
	.size(100%, 10%);
	display: flex;
}

form input {
	font-size: 3vw;
	color: white;
	padding: 1vw;
	text-align: right;
	outline: none;
	border: none;
	width: 100%;
	background: black;
}

.standart .grid {
	display: grid;
	grid-template-areas: 
		"one two three four"
		"five six seven eight"
		"nine ten eleven twelve"
		"thirteen fourteen fifteen sixteen"
		"seventeen eighteen nineteen twenty";

	&-cancel {grid-area: one;}
	&-delete {grid-area: two;}
	&-percent {grid-area: three;}
	&-divide {grid-area: four;}

	&-seven {grid-area: five;}
	&-eight {grid-area: six;}
	&-nine {grid-area: seven;}
	&-times {grid-area: eight;}

	&-four {grid-area: nine;}
	&-five {grid-area: ten;}
	&-six {grid-area: eleven;}
	&-minus {grid-area: twelve;}

	&-one {grid-area: thirteen;}
	&-two {grid-area: fourteen;}
	&-three {grid-area: fifteen;}
	&-plus {grid-area: sixteen;}

	&-additiveInverse {grid-area: seventeen;}
	&-zero {grid-area: eighteen;}
	&-dot {grid-area: nineteen;}
	&-equals {grid-area: twenty;}

	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.5vw;
	grid-template-rows: repeat(5, auto);
}

.grid {
	background: black;
	flex-grow: 2;
	.size(100%, 90%);
}

.grid div {
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	border: solid red 1px;
}


.grid div span {
	display: inline-block;
	background: green;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
}

table {
	width: 100%;
	height: 100%;
	text-align: center;
	background: #333333;
	border-radius: 50%;
}

.extended .grid {
	padding: 0.5vw;
	display: grid;
	grid-template-areas: 
		"fraction powerDec squared one two three four"
		"root cubed cubicRoot five six seven eight"
		"power natLog decLog nine ten eleven twelve"
		"factorial sin cos thirteen fourteen fifteen sixteen"
		"tan e PI seventeen eighteen nineteen twenty";

	&-fraction {grid-area: fraction;}
	&-powerDec {grid-area: powerDec;}
	&-squared {grid-area: squared;}
	&-cancel {grid-area: one;}
	&-Delete {grid-area: two;}
	&-percent {grid-area: three;}
	&-divide {grid-area: four;}

	&-root {grid-area: root;}
	&-cubed {grid-area: cubed;}
	&-cubicRoot {grid-area: cubicRoot;}
	&-seven {grid-area: five;}
	&-eight {grid-area: six;}
	&-nine {grid-area: seven;}
	&-times {grid-area: eight;}

	&-power {grid-area: power;}
	&-natLog {grid-area: natLog;}
	&-decLog {grid-area: decLog;}
	&-four {grid-area: nine;}
	&-five {grid-area: ten;}
	&-six {grid-area: eleven;}
	&-minus {grid-area: twelve;}

	&-factorial {grid-area: factorial;}
	&-sin {grid-area: sin;}
	&-cos {grid-area: cos;}
	&-one {grid-area: thirteen;}
	&-two {grid-area: fourteen;}
	&-three {grid-area: fifteen;}
	&-plus {grid-area: sixteen;}

	&-tan {grid-area: tan;}
	&-e {grid-area: e;}
	&-PI {grid-area: PI;}
	&-additiveInverse {grid-area: seventeen;}
	&-zero {grid-area: eighteen;}
	&-dot {grid-area: nineteen;}
	&-equals {grid-area: twenty;}

	grid-template-columns: repeat(7, 1fr);
	grid-gap: 0.5vw;
	grid-template-rows: repeat(5, auto);
}

html {
	.size(auto, 100%);
}

.grid div {
	padding: 10%;
}

@media screen and (max-width: 1600px) {
	.standartContainer {
		width: 24vw;
	}
	.extendedContainer {
		width: 44vw;
	}
	.standart {
		height: 35vw;
	}
}

@media screen and (max-width: 1200px) {
	.standartContainer {
		width: 30vw;
	}
	.extendedContainer {
		width: 45vw;
	}
	.standart {
		height: 41vw;
	}
}

@media screen and (max-width: 800px) {
	.standartContainer {
		width: 36vw;
	}
	.extendedContainer {
		width: 46vw;
	}
	.standart {
		height: 47vw;
	}
}

@media screen and (max-width: 500px) {
	.standartContainer {
		.size(100%, 100%);
	}

	.standart {
		.size(100%, 100%);
	}

	.calculator .grid {
		grid-gap: 10px;
		padding: 1vw;
	}
	
	nav {
		display: none;
	}

	form input {
		height: 100%;
		font-size: 9vw;
		padding-right: 5vw;
	}
	body {
		font-size: 7vw;
	}
}

@media screen and (min-width: 500px) {
	nav div {
		width: calc(100% / 4);
	}
} */