* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.marginPadding(@padding, @margin) {
	padding: @padding,;
	margin: @margin;
}

.size(@width, @height) {
	width: @width;
	height: @height;
}

nav {
	background: yellow;
}

body {
	.size(auto, 100%);
	display: flex;
	justify-content: center;
	font-size: 2vw;
	color: white;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 24vw;
	border: solid blue 1px;
}

.calculator {
	height: 35vw;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	background: black;
}

form {
	height: 10%;
	width: 100%;
	display: flex;
}

form input {
	font-size: 3vw;
	color: white;
	padding: 1vw;
	text-align: right;
	outline: none;
	border: none;
	width: 100%;
	background: black;
}

.grid {
	padding: 0.5vw;
	display: grid;
	grid-template-areas: 
		"one two three four"
		"five six seven eight"
		"nine ten eleven twelve"
		"thirteen fourteen fifteen sixteen"
		"seventeen eighteen nineteen twenty";

	&-cancel {grid-area: one;}
	&-delete {grid-area: two;}
	&-percent {grid-area: three;}
	&-divide {grid-area: four;}

	&-seven {grid-area: five;}
	&-eight {grid-area: six;}
	&-nine {grid-area: seven;}
	&-times {grid-area: eight;}

	&-four {grid-area: nine;}
	&-five {grid-area: ten;}
	&-six {grid-area: eleven;}
	&-minus {grid-area: twelve;}

	&-one {grid-area: thirteen;}
	&-two {grid-area: fourteen;}
	&-three {grid-area: fifteen;}
	&-plus {grid-area: sixteen;}

	&-additiveInverse {grid-area: seventeen;}
	&-zero {grid-area: eighteen;}
	&-dot {grid-area: nineteen;}
	&-equals {grid-area: twenty;}

	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.5vw;
	height: 90%;
}

.grid div {
	cursor: pointer;
	position: relative;
	text-align: center;
	height: 0;
	padding-bottom: 100%;
	vertical-align: middle;
	box-sizing: border-box;
	border-radius: 50%;
	background: #333333;
}

.grid div span {
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;	
}

html {
	.size(auto, 100%);
}

@media screen and (max-width: 500px) {
	.container {
		.size(100%, 100%);
	}
	.calculator {
		.size(100%, 100%);
	}
	nav {
		display: none;
	}
	form input {
		height: 100%;
		font-size: 9vw;
	}
	body {
		font-size: 7vw;
	}
	.grid {
		height: 90%;
		grid-gap: 5vw;
		padding: 5vw;
	}
}
