.clearfix::after {
	content: "";
	display: table;
	clear:	both;
}

input:active, input:focus {
  outline: none !important; 
}

input::-moz-focus-inner {
  border: 0 !important;
}


body, .signUp input:last-child,
article *, .ourContacts,
.icons p {
	margin: 0;
}

body, .icons p {
	padding: 0;	
}

body {
	font-size: 16px;
	font-family: Arial, sans-serif;
}

header, nav a,
.buttons .LearnMore:hover,
.field input:hover,
.projectName input:hover,
.plans div input:hover,
.pink h2, .videoCaption,
.general3 {
	color: white !important;
}

header {
	background: url(./img/Image.png) no-repeat center top / cover;
	height: 100vh;
}

.container {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 55px;
}

.LogoAndNav {
	line-height: 20px;
}

nav {
	display: inline-block;
	float: right;
	font-size: 0;
}

nav, .headline, .button,
h2, .field input,
.project .projectName input,
.plans div input, .name,
.signUp input:last-child,
article button {
	font-weight: bold;	
}

nav div, .button,
.field input, h3,
.project .projectName input,
.plans div input, .name,
.signUp input:last-child,
article button, 
.containerContact form {
	text-transform: uppercase;
}

nav div {
	vertical-align: middle;
	display: inline-block;
	font-size: 16px;
	margin-right: 30px;
}

nav a {
	text-decoration: none;
}

nav a:hover {
	color: yellow !important;
}

nav div:last-child {
	margin-right: 0;
}

.contentHeadline {
	width: 500px;
}

.headline {
	font-size: 3em;
	margin: 110px 0 0 0;
}

.content {
	margin: 65px 0 0 0;
	font-size: 1.5em;
}

.buttons .LearnMore {
	background-color: yellow;
}

.buttons .LearnMore:hover,
.center, .field input:hover,
.projectName input:hover,
.plans div input:hover,
.pink, center button:hover {
	background-color: #62497c !important;	
}

.button, .field input,
.project .projectName input,
.plans div input,
article button {
	border: none;	
}

.button {
	border-radius: 5%;
	width: 125px;
	height: 45px;
}

.buttons {
	margin: 50px 0 0 0;
}

.points {
	margin: 216px 0 0 0;
}

.points a:not(:first-child) {
	margin: 0 0 0 10px;
}

.general {
	height: 100vh;
}

h2 {
	margin-top: 0;
	text-align: center;
	font-size: 3em;
}

.about {
	width: 460px;
	font-size: 2.5em;
	color: #ababab;
}

.Welkome .umbrella {
	float: right;
}

.fields, .field, .center,
.projects, .project,
.project div, .projectName,
.plans, .plans div, .videos,
.video, .darkBackground:hover,
.team, .area, 
.thief:hover .shadow,
.gallery, .arrow, form,
.yellowBackground, 
footer .container, .icons   {
	display: flex; 
}

.fields {
	margin-top: 65px;
	justify-content: space-around;
}

.field {
	justify-content: space-between;
	flex-direction: column;
	width: 150px;
	height: 290px;
}

.field, .center, .plans div,
.video, .darkBackground:hover,
.area, .photo,  
.thief:hover .shadow, .arrow,
footer .container {	
	align-items: center;
}

.center {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.center, .video2,
.video2 .darkBackground:hover,
.team, .photo,
.thief:hover .shadow, 
.arrow, form {
	justify-content: center;	
}

.field input {
	width: 125px;
	height: 44px;
	border-radius: 5%;
	background-color: #ffe26d;
}

.general2 {
	height: 200vh;
	padding-top: 55px;
}

.general2 .container {
	padding-bottom: 30px;
}

.project {
	flex-direction: column;
	background-color: #efefef;
}

.project, .project div,
.project div img,
.darkBackground,
.thief:hover .shadow,
.frontPhoto img,
.map, .contact,
.map img, 
.message textarea,
.containerContact input,
center button  {
	width: 100%;	
}

.project div img {
	height: 600px;
}

.projectName {
	flex-direction: column;
	align-items: flex-start;
}

h3 {
	font-size: 1.5em;
}

.projectName p, 
.projectName h3 {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
}

.project:hover {
	background-color: #ffe26d !important;
}

.project .projectName input {
	padding: 15px;
	align-self: flex-start;
	margin-left: 40px;
	margin-bottom: 46px;
	background-color: white;
	border-radius: 5%;
}

.Pricing {
	margin-top: 30px;
	margin-bottom: 50px;
}

.plans {
	justify-content: space-around;
}

.plans div {
	width: 200px;
	flex-direction: column;
	text-align: center;
}

h4 {
	margin: 0 0 20px 0;
	font-size: 1.2em;
}

.plans div p {
	line-height: 26px;
}

.plans div h4:nth-child(2) {
	color: #a4a4a4;
}

.plans div input {
	margin-top: 20px;
	padding: 10px 30px 10px 30px;
	border-radius: 5%;
}

.plans input {
	background-color: #ffe26d;
	color: black;
}

.pink {
	padding-top: 90px;
}

.videos {
	justify-content: space-between;
}

.video1 {
	background: url(./img/VideoImage1.png) no-repeat center top / cover;
	width: 375px;
	height: 480px;
}

.video2 {
	background: url(./img/VideoImage2.png) no-repeat center top / cover;	
	width: 750px;
	height: 480px;
}

.video3 {
	background: url(./img/VideoImage3.png) no-repeat center top / cover;
	width: 375px;
	height: 480px;
	justify-content: flex-end;
}

.darkBackground {
	height: 100%;
}

.darkBackground a {
	display: none;
}

.darkBackground:hover {
	background: rgba(0, 0, 0, .8);
}

.darkBackground:hover a {
	display: block;
}

.video3 .darkBackground:hover {
	justify-content: flex-end;
}

.videoCaption {
	margin-top: 25px;
}

.time {
	float: right;
}

.team {
	flex-wrap: wrap;
}

.photo {
	width: 172px;
	height: 172px;
}

.area {
	flex-direction: column;
	margin: 40px;
	margin-top: 20px;
}

.avatar1 {
	background: url(./img/team1.png) no-repeat center top / cover;
}

.avatar2 {
	background: url(./img/team2.png) no-repeat center top / cover;
}

.avatar3 {
	background: url(./img/team3.png) no-repeat center top / cover;
}

.avatar4 {
	background: url(./img/team4.png) no-repeat center top / cover;
}

.avatar5 {
	background: url(./img/team5.png) no-repeat center top / cover;
}

.avatar6 {
	background: url(./img/team6.png) no-repeat center top / cover;
}

.name {
	margin-top: 30px;
}

.position {
	margin-top: 20px;
	color: #a8a8a8;
}

.photo {
	display: block;
}

.shadow {
	display: none;
}

.thief:hover .shadow {
	height: 100%;
  	background: rgba(116, 88, 125, 0.8);
  	cursor: pointer;
  	border-radius: 50%;
  	justify-content: space-around;
}

.shadow a:hover img {
	filter: hue-rotate(180deg) saturate(200%);
}

.gray {
	background-color: #efefef;
}

.gallery {
	height: 80px;
	margin-top: 10px;
	justify-content: space-between;
}

.life {
	padding-bottom: 50px;
}

.arrow {
	width: 30px;
	background-color: #2a2a2a;
}

.gallery > img {
	width: 135px;
}

.general3 {
	background: url(./img/Newsletter.png) no-repeat center top / cover;
	height: 330px;
	text-align: center;
}

form {
	height: 55px;
}

.signUp input {
	height: 100%;
	width: 414px;
	font-size: 1.2em;
	padding-left: 15px;
}

.signUp input:last-child {
	font-size: 1em;
	width: 134px;
	background: #ffe26d;
	transition: background 9999999s;
}

.signUp .differentColor:active {  
	background: #62497c;
	transition: background 0s;
}

.diffirentHigh {
	padding-bottom: 50px;
}

.articles {
	display: flex;
	justify-content: space-between;
}

article {
	width: 210px;
	text-align: center;
}

article p:first-of-type {
	color: #aaaaaa;
}

article * {
	margin-top: 20px;
}

article button {
	background-color: #ececec;
	border-radius: 5%;
	width: 135px;
	height: 45px;
	transition: background 9999999s;
}

article button:active {
	background: #ffe26d;
	transition: background 0s;
}

.map, .contact {
	height: 100%;
}

.contact {
	background: #ffe26d;
	text-align: left;
}

.map img {
	height: 100%;
}

.containerContact {
	padding-top: 55px;
	width: 425px;
}

form {
	display: block;
}

form div {
	margin-left: 45px;
	text-align: left;
}


form div input,
.message textarea {
	font-size: 1.2em;
	height: 45px;
	margin-top: 10px;
	margin-bottom: 25px;
}

.message textarea {
	height: 146px;
	resize: none;
}

center button {
	height: 45px;
}

footer .container {
	padding-top: 0;
	margin-top: 0;
	height: 200px;
	justify-content: space-around;
}

.ourContacts {
	text-align: center;
}

footer .container div {
	height: 130px;
	width: 180px;
	text-align: center;
	line-height: 1.7em;
}
