* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.field {
  width: 100%;
  height: 85%;
}
html,
body {
  width: 100%;
  height: 100%;
}
.laptop {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #A64B00;
}
.container {
  width: 100%;
  height: 100%;
  background: black;
}
.menu {
  color: white;
  display: none;
  background: green;
  font-size: 30px;
  margin-bottom: 1vh;
}
.menu div {
  width: 50%;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.menu div:first-child {
  border-right: solid red 1.5px;
}
form {
  width: 100%;
  height: 15%;
  display: flex;
}
input {
  width: 100%;
  background: black;
  color: white;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 5%;
  padding-left: 5%;
}
ul {
  list-style-type: none;
  color: white;
}
.mode {
  width: 100%;
  height: 100%;
}
.line {
  display: flex;
  justify-content: space-around;
}
.element {
  display: flex;
  background: hsl(0, 0%, 20%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
}
.mathOperator {
  background: #FF7F00;
  font-weight: 900;
}
.equals {
  background: #FF6A00;
  font-weight: 900;
}
.orientation {
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.service {
  background: hsl(0, 0%, 35%);
}
.active {
  box-shadow: inset 0 -5px 2px -2px yellow;
}
@media screen and (orientation: portrait) {
  body {
    font-size: 5vh;
  }
  input {
    font-size: 6vh;
  }
  ul * {
    margin: 1vh;
  }
}
@media screen and (orientation: landscape) {
  body {
    font-size: 5vh;
  }
  input,
  #list {
    font-size: 7vh;
  }
  ul {
    display: flex;
  }
  ul * {
    font-size: 7vh;
    margin: 1vw;
  }
}
