* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: Arial, sans-serif;
}

header {
	display: flex;
	justify-content: center;
	background: url(./img/Image.png) no-repeat center top / cover;
	color: white;
}

.container {
	width: 70%;
	display: flex;
	flex-direction: column;
}

.LogoAndNav {
	margin-top: 3%;
	align-items: center;
	display: flex;
}

.LogoAndNav img {
	margin-right: 5%;
	width: 13%;
	height: auto;
}

nav {
	max-width: 80%;
	width: 70%;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

nav div {
	margin-left: 1vw;
	text-transform: uppercase;
	font-weight: bold;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #dec96b; 
}

.contentHeadline {
	margin-top: 11%;
	width: 75%;
}

h1 {
	font-size: 3em;
}

.content {
	margin-top: 5%;
	font-size: 1.5em;
}

.buttons {
	margin-top: 5%;
}

.LearnMore {
	padding: 2% 3% 2% 3%;
}

.button {
	font-size: 1em;
	background: #ffe26d;
	border-radius: 5%;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.extraStyle {
	padding: 4% 5% 4% 5%;
	white-space: normal; 
}	

.button:hover {
	background: #62497c;
	color: white;
}

input:active, input:focus {
  	outline: none !important; 
}

input::-moz-focus-inner {
  	border: 0 !important;
}

.points {
	padding-top: 2%;
	margin-top: auto;
	margin-bottom: 2%;
}

.general {
	display: flex;
	justify-content: center;
}

.generalBottom {
	padding-bottom: 2vw;
}

h2 {
	margin-bottom: 3%;
	font-size: 2em;
	margin-top: 3%;
	text-align: center;
}

.about {
	width: 60%;
	display: flex;
	align-items: center;
	color: #575758;
}

h3 {
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: normal;	
}

.aboutUmbrella {
	display: flex;
	align-items: center;
	margin-bottom: 3vh;
}

.umbrella {
	margin-left: auto;
	width: 20%;
	height: auto;
}

.fields {
	display: flex;
	justify-content: space-between;
}

.field {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.center img {
	width: 45%;
}

.center {
	margin-top: 10%;
	margin-bottom: 2vh;
	width: 80px;
	height: 80px;
	align-items: center;
	justify-content: center;
	background-color: #62497c;
	display: flex;
	border-radius: 50%;
}

.fieldHeadline {
	margin-bottom: 2vh;
	text-transform: uppercase;
}

.field {
	width: 20%;
}

.field div:last-of-type {
	margin-top: auto;
	text-align: center;
	margin-bottom: 2vh;
}

.field input {
	margin-bottom: 2vh;
}

.moreThanContainer {
	display: flex;
	flex-direction: column;
}

.projectTables {
	display: flex;
}

.project {
	max-width: 25%;
	background: #e4e4e4;
}

.img {
	padding-top: 150%;
}

.img-1 {
	background: url(./img/Project1.png) no-repeat center top / cover;
}

.img-2 {
	background: url(./img/Project2.png) no-repeat center top / cover;
}

.img-3 {
	background: url(./img/Project3.png) no-repeat center top / cover;
}

.img-4 {
	background: url(./img/Project4.png) no-repeat center top / cover;
}

.contentProject {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	flex-direction: column;
	display: flex;
	margin-top: 5vh;
}

.contentProject p {
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.text {
	padding-right: 10%;
}

.contentProject input {
	background: white;
	width: 80%;
	margin-bottom: 3vh;
	white-space: normal; 
	height: auto;
}

.project:hover  {
	background: #ffe26d;
}

.project:hover  input{
	background: #62497c;
	color: white;
}

.pricingTables {
	display: flex;
}

.pricing {
	padding-bottom: 4vh;
}
.table {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fixMargin {
	margin-right: auto;
	margin-left: auto;
}

h4 {
	text-align: center;
	font-size: 1.1em;
	text-transform: uppercase;
}

.table h4:last-of-type {
	color: #9d9d9d;
}

.table > * {
	margin-top: 2vh;
}

.table p {
	text-align: center;
}

.table-2 {
	margin-left: auto;	
} 

.table-3 {
	margin-left: auto;
}

.table input {
	width: 40%;
	padding: 4% 5% 4% 5%;
}

.pricing .container,
footer .container {
	height: auto;
}

.pink {
	background: #62497c;
	color: white;
	flex-direction: column;
	align-items: center;
}

.pink .container {
	height: 20%;
}

.videos {
	justify-content: space-between;
	display: flex;
	width: 100%;
	padding-bottom: 3%;
}

.video {
	width: 23%;
}

.video-2 {
	width: 46%;
}

.preview img {
	width: auto;
	height: calc(100vw / 10);
}

.preview {
	display: flex;
	padding-top: 7vw;
	padding-bottom: 7vw;
}

.video-2 .preview {
	justify-content: center;
}

.video-3 .preview {
	justify-content: flex-end;
}

.preview img {
	visibility: hidden;
}

.test:hover img {
	visibility: visible;
}

.test:hover .preview {
	background: rgba(0, 0, 0, .5);
}

.video-1 .test {
	background: url(./img/VideoImage1.png) no-repeat center top / cover;
}

.video-2 .test {
	background: url(./img/VideoImage2.png) no-repeat center top / cover;
}

.video-3 .test {
	background: url(./img/VideoImage3.png) no-repeat center top / cover;
}

.info {
	text-transform: uppercase;
	margin-top: 1vw;
	display: flex;
}

.info .time {
	margin-left: auto;
}

.team {
	display: flex;
	justify-content: safe center;
	flex-wrap: wrap
}

.area {
	padding-top: 1vw;
	display: flex;
	flex-direction: column;
	width: 30%;
	align-items: center;
}

.area .avatar,
.area .name,
.area .position {
	margin-top: 1vw;
}

.avatar1 {
	background: url(./img/team1.png) no-repeat center top / cover;
}

.avatar2 {
	background: url(./img/team2.png) no-repeat center top / cover;
}

.avatar3 {
	background: url(./img/team3.png) no-repeat center top / cover;
}

.avatar4 {
	background: url(./img/team4.png) no-repeat center top / cover;
}

.avatar5 {
	background: url(./img/team5.png) no-repeat center top / cover;
}

.avatar {
	width: 12vw;
	height: 12vw;
}

.shadow {
	display: none;
}

.avatar:hover .shadow,
.avatar:focus .shadow { 
	cursor: pointer;
	border-radius: 50%;
	background: rgba(107, 88, 130, .7);
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
}

.shadow a:hover img,
.shadow a:focus img { 
	filter: hue-rotate(180deg) saturate(200%);
}

.row {
	justify-content: space-around;
	display: flex;
	width: 100%;
	max-height: 25%;
}

.row a {
	justify-content: center;
	width: 25%;
	display: flex;
}

.facebook {
	display: flex;
	width: 25%;
	justify-content: center;
}

.facebook a {
	width: 40%;
}

.row a img {
	max-width: 100%;
	max-height: 100%;
}

.area .name {
	text-transform: uppercase;
	font-weight: bold;
}

.area .position {
	color: #9d9d9d;
}

.slider {
	padding-bottom: 3vw;
}

.slider input {
	display: none;
}

.slides {
	justify-content: center;
	display: flex;
}

.sliders-controls {
	margin-top: 2vw;
	display: flex;
	justify-content: space-around;
}


label[for="but-1"] {
	background-image: url(img/galleryImage1.png);
}

label[for="but-2"] {
	background-image: url(img/galleryImage2.png);
}

label[for="but-3"] {
	background-image: url(img/galleryImage3.png);
}

label[for="but-4"] {
	background-image: url(img/galleryImage4.png);
}

label[for="but-5"] {
	background-image: url(img/galleryImage5.png);
}

.sliders-controls label {
	display: inline-block;
	box-sizing: border-box;
	width: 10vw;
	height: 6vw;
	cursor: pointer;
	background-size: cover; 
}

.slider img {
	display: none;
}

#but-1:checked ~ .sliders-controls label[for="but-1"],
#but-2:checked ~ .sliders-controls label[for="but-2"],
#but-3:checked ~ .sliders-controls label[for="but-3"],
#but-4:checked ~ .sliders-controls label[for="but-4"],
#but-5:checked ~ .sliders-controls label[for="but-5"] {
	box-shadow: 0 0 1vw 0.5vw rgba(255, 255, 5, 1);
}

#but-1:checked ~ .slides .firstPhoto,
#but-2:checked ~ .slides .secondPhoto,
#but-3:checked ~ .slides .thirdPhoto,
#but-4:checked ~ .slides .forthPhoto,
#but-5:checked ~ .slides .fifthPhoto {
	display: flex;
	height: 28vw;
}

.sliders-controls a {
	justify-content: center;
	align-items: center;
	display: flex;
	width: 2.4vw;
	background: #2a2a2a;
}

.sliders-controls a::after {
	color: white;
	content: "";
	width: 0.5vw;
	height: 0.5vw;
	border-style: white transparent transparent white;
	border-width: 0.3vw 0 0 0.3vw;
	border-style: solid;
	transform: rotate(-45deg);
}

.sliders-controls .arrowLeft::after {
	transform: rotate(135deg);
}

.sliders-controls a:hover {
	background: #62497c;
}

* {
	transition-delay: 0.1s;
}

.fullHeight {
	flex-direction: column;
	align-items: center;
}

.fullHeight .signup {
	width: 100%;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(img/Newsletter.png);
	background-position: 0 bottom;
	color: white;
	margin-bottom: auto;
	text-shadow: 0.15vw 0.15vw 0.3vw black;
}

.signup .container {
	height: auto;
}

.signup input[name="e-mail"] {
	border: solid 1px #a1b5c4;
	box-sizing: border-box;
	flex-grow: 1;
	flex-shrink: 2;
	padding-left: 1vw;
	padding-right: 1vw;
}

.signup input[name="e-mail"]:focus {
	border: 1px solid rgb(0, 174, 255);
}

.signup input[name="e-mail"]:hover {
	box-shadow: 0 0 6px rgba(0, 174, 255, .6);
}

.signup input[value="sing-up"] {
	text-transform: uppercase;
	padding: 0.5vw 1vw 0.5vw 1vw;
	border: none;
	background: #d3d1d1;
}

.signup input[name="e-mail"] {
	border-radius: 1vw 0 0 1vw;
}

.signup input[value="sing-up"] {
	border-radius: 0 1vw 1vw 0;
}

input[type="submit"], 
button {
	cursor: pointer;
}

.signup input {
	font-size: 1.2em;
}

.signup input[value="sing-up"]:hover {
	background: #62497c;
	color: white;
}

.articles {
	display: flex;
	justify-content: space-between;
}

.article {
	width: 28%;
	display: flex;
	flex-direction: column;
	padding-bottom: 1.5vw;
}

.article img {
	width: 100%;
}

.article *:not(button) {
	margin-bottom: 1.5vw;
}

.article button {
	margin-top: auto;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 1vw 1.5vw 1vw 1.5vw;
	border: none;
	outline: none;
	margin-right: 20%;
	margin-left: 20%;
	background: #d3d1d1;
}

.article button:hover {
	background: #ffe26d;
}

.signupForm {
	box-sizing: border-box;
	margin: 2vw 0 2vw 0;
	display: flex;
	padding: 0 10vw 0 10vw;
}

.article p {
	text-align: center;
	margin-left: 3%;
	margin-right: 3%;
}

.gray {
	text-transform: capitalize;
	color: #a0a0a0;
}

.contact  {
	display: grid;
	grid-template-columns: 15% 35% 35% 15%;
}

.contact  img {
	width: 100%;
	height: 100%;
	z-index: 2;
	grid-column-start: 1;
	grid-column-end: 3; 
	grid-row-start: 1;
	grid-row-end: 2;
}

.formField {
	z-index: 1;
	background: #ffe26d;
	grid-column-start: 3;
	grid-column-end: 5; 
	grid-row-start: 1;
	grid-row-end: 2;
}

.feedBack {
	padding-left: 3vw;
	z-index: 2;
	grid-column-start: 3;
	grid-column-end: 4; 
	grid-row-start: 1;
	grid-row-end: 2;
}

.contact h2 {
	margin-top: 3vw;
	margin-bottom: 2.5vw;
}

.feedBack label {
	display: block;
	text-transform: uppercase;
}

.contact input {
	display: block;
	margin-top: 1vw;
	margin-bottom: 1.5vw;
	width: 100%;
	font-size: 1.2em;
	box-sizing: border-box;
}

.contact input {
	padding: 1vw 1.5vw 1vw 1.5vw;
}

.contact textarea {
	margin-top: 1vw;
	width: 100%;
	padding: 1vw 1.5vw 1vw 1.5vw;
	box-sizing: border-box;
	resize: none;
	height: 12vw;
}

.feedBack input[type="submit"] {
	background: #62497c;
	color: white;
	border: none;
	text-transform: uppercase;
}

.feedBack input[type="text"], 
.feedBack textarea {
	border: solid 1px #a1b5c4;
	box-sizing: border-box;
}

.feedBack input[type="text"]:focus, 
.feedBack textarea:focus {
	border: 1px solid rgb(0, 174, 255);
}

.feedBack input[type="text"]:hover, 
.feedBack textarea:hover {
	box-shadow: 0 0 6px rgba(0, 174, 255, .6);
	outline: none;
}

footer {
	display: flex;
	justify-content: center;
}

footer {

}

.attributes {
	margin-top: 2vw;
	margin-bottom: 2vw;
	display: flex;
	justify-content: space-between;
}

.attributes > div {
	min-width: 20%;
	max-width: 50%;
	display: flex;
	flex-direction: column;
}

.attributes h4 {
	margin-bottom: 1vw;
	/*font-size: 0.9em;*/
}

.attributes p {
	justify-content: center;
	display: flex;
	flex-grow: 1;
}

.attributes span {
	text-align: center;
}

.follow  > div {
	display: flex;
	justify-content: space-around;
	vertical-align: middle;
	flex-direction: column;
	flex-grow: 1;
}

.icons {
	display: flex;
	justify-content: space-around;
}

.attributes p {
	line-height: 1.5;
}

.icons a {
	display: block;
	width: 1.9vw;
	height: 1.9vw;
	background-size: contain;
}

.behanceIcon {
	background: url(img/behanceIcon.png) center no-repeat;
}

.twitterIcon {
	background: url(img/twitterIcon.png) center no-repeat;
}

.linkediinIcon {
	background: url(img/linkediinIcon.png) center no-repeat;
}

.facebookIcon {
	background: url(img/facebookIcon.png) center no-repeat;
}

.googleIcon {
	background: url(img/googleIcon.png) center no-repeat;
}

.tumblrIcon {
	background: url(img/tumblrIcon.png) center no-repeat;
}

@media screen and (max-width: 700px){
    .container {
  		width: 80%;
    }
    body {
    	font-size: 12px;
    }
    .center {
    	width: 60px;
    	height: 60px;
    }
    .umbrella {
		width: 30%;
	}
	.contact {
		grid-template-columns: 10% 40% 40% 10%;
	}
}

@media screen and (max-width: 500px){
	.container {
  		width: 95%;
    }
	.field {
		width: 30%;
	}
	.contact {
		grid-template-columns: 2.5% 47.5% 47.5% 2.5%;
	}
}

@media screen and (max-width: 400px){
	body {
    	font-size: 10px;
    }
    .attributes h4 {
    	font-size: 0.7em;
    }
    .attributes p {
    	font-size: 0.8em;
    }
    .contact {
	height: auto;
    }	
}

@media screen and (min-width: 700px){
    .container {
        height: 100vh;
    }
    .fullHeight {
    	height: 100vh;
    }/*
    .contact {
    	height: 100vh;
    }*/
}
