* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: Arial, sans-serif;
}

header {
	display: flex;
	justify-content: center;
	background: url(./img/Image.png) no-repeat center top / cover;
	color: white;
}

.container {
	width: 70%;
	display: flex;
	flex-direction: column;
}

.LogoAndNav {
	margin-top: 3%;
	align-items: center;
	display: flex;
}

.LogoAndNav img {
	margin-right: 5%;
	width: 13%;
	height: auto;
}

nav {
	width: 60%;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

nav div {
	margin-left: 1vw;
	text-transform: uppercase;
	font-weight: bold;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #dec96b; 
}

.contentHeadline {
	margin-top: 11%;
	width: 75%;
}

h1 {
	font-size: 3em;
}

.content {
	margin-top: 5%;
	font-size: 1.5em;
}

.buttons {
	margin-top: 5%;
}
.LearnMore {
	padding: 2% 3% 2% 3%;
}

.button {
	font-size: 1em;
	background: #ffe26d;
	border-radius: 5%;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
}

.extraStyle {
	padding: 4% 5% 4% 5%;
}	

.button:hover {
	background: #62497c;
	color: white;
}

input:active, input:focus {
  	outline: none !important; 
}

input::-moz-focus-inner {
  	border: 0 !important;
}

.points {
	padding-top: 2%;
	margin-top: auto;
	margin-bottom: 2%;
}

.general {
	display: flex;
	justify-content: center;
}

h2 {
	margin-bottom: 3%;
	font-size: 2em;
	margin-top: 3%;
	text-align: center;
}

.about {
	width: 60%;
	display: flex;
	align-items: center;
	color: #575758;
}

h3 {
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: normal;	
}

.aboutUmbrella {
	display: flex;
	align-items: center;
	margin-bottom: 3vh;
}

.umbrella {
	margin-left: auto;
	width: 20%;
	height: auto;
}

.fields {
	display: flex;
	justify-content: space-between;
}

.field {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.center img {
	width: 45%;
}

.center {
	margin-top: 10%;
	margin-bottom: 2vh;
	width: 80px;
	height: 80px;
	align-items: center;
	justify-content: center;
	background-color: #62497c;
	display: flex;
	border-radius: 50%;
}

.fieldHeadline {
	margin-bottom: 2vh;
}

.field {
	width: 20%;
}

.field div:last-of-type {
	margin-top: auto;
	text-align: center;
	margin-bottom: 2vh;
}

.field input {
	margin-bottom: 2vh;
}

.moreThanContainer {
	display: flex;
	flex-direction: column;
}

.projectTables {
	display: flex;
}

.project {
	max-width: 25%;
	background: #e4e4e4;
}

.img {
	padding-top: 150%;
}

.img-1 {
	background: url(./img/Project1.png) no-repeat center top / cover;
}

.img-2 {
	background: url(./img/Project2.png) no-repeat center top / cover;
}

.img-3 {
	background: url(./img/Project3.png) no-repeat center top / cover;
}

.img-4 {
	background: url(./img/Project4.png) no-repeat center top / cover;
}

.contentProject {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	flex-direction: column;
	display: flex;
	margin-top: 5vh;
}

.contentProject p {
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.text {
	padding-right: 10%;
}

.contentProject input {
	background: white;
	width: 80%;
	margin-bottom: 3vh;
	white-space: normal; 
	height: auto;
}

.project:hover  {
	background: #ffe26d;
}

.project:hover  input{
	background: #62497c;
	color: white;
}

.pricingTables {
	display: flex;
}

.pricing {
	padding-bottom: 4vh;
}
.table {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fixMargin {
	margin-right: auto;
	margin-left: auto;
}

h4 {
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
}

.table h4:last-of-type {
	color: #9d9d9d;
}

.table > * {
	margin-top: 2vh;
}

.table p {
	text-align: center;
}

.table-2 {
	margin-left: auto;	
} 

.table-3 {
	margin-left: auto;
}

.table input {
	width: 40%;
	padding: 4% 5% 4% 5%;
}

.pricing .container {
	height: auto;
}

@media screen and (max-width: 700px){
    .container {
  		width: 80%;
    }
    body {
    	font-size: 12px;
    }
    .center {
    	width: 60px;
    	height: 60px;
    }
    .umbrella {
		width: 30%;
	}
}

@media screen and (max-width: 500px){
	.container {
  		width: 95%;
    }
	.field {
		width: 30%;
	}
}

@media screen and (max-width: 400px){
	body {
    	font-size: 10px;
    }
}

@media screen and (min-width: 700px){
    .container {
        height: 100vh;
    }
}
