* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: Arial, sans-serif;
}

header {
	display: flex;
	justify-content: center;
	background: url(./img/Image.png) no-repeat center top / cover;
	color: white;
}

.container {
	width: 70%;
}

.LogoAndNav {
	margin-top: 3%;
	display: flex;
	align-items: center;
}

nav {
	margin-left: auto;
	display: flex;
}

nav div {
	margin-left: 1vw;
	text-transform: uppercase;
}

.LogoAndNav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

@media screen and (max-width: 650px){
    .container {
  		width: 80%;
    }
    body {
    	font-size: 14px;
    }
}

@media screen and (max-width: 500px){
	.container {
  		width: 100%;
    }
}

@media screen and (min-width: 600px){
    .container {
        height: 100vh;
    }
}

.LogoAndNav img {
	width: 12%;
	height: auto;
}

nav a:hover {
	color: #dec96b; 
}

.contentHeadline {
	margin-top: 11%;
	width: 75%;
}

h1 {
	font-size: 3em;
}

.content {
	margin-top: 5%;
	font-size: 1.5em;
}

.buttons {
	margin-top: 5%;
}

.buttons input {
	padding: 2% 3% 2% 3%;
	border-radius: 5%;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
}

.buttons input:hover {
	background: #62497c;
	color: white;
}

input:active, input:focus {
  	outline: none !important; 
}

input::-moz-focus-inner {
  	border: 0 !important;
}

.points {
	margin-top: 25%;
}
